* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  font-family: 'Roboto Mono';

  color: #333;
  background: #fff;

  font-size: 18px;

  overflow: hidden;
  user-select: none;
}

html {
  overflow: hidden;
}

canvas {
  user-select: none;
}

.map {
  /* transform: scale(1.42) rotateX(40deg) rotateY(-4deg); */
}

.bar {
  margin: 0;
  padding: 4px;

  background: #eee;

  border-radius: 5px;

  overflow: hidden;

  display: flex;
  align-items: stretch;
  justify-content: center;

  transition: 0.2s;
}

body > .bar {
  position: absolute;

  left: 20px;
  right: 20px;
}

.bar > * {
  margin: 0 4px 0 0;
}

.bar > *:last-child {
  margin: 0;
}

.bar .envelope {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.floating {
  background: transparent;
  padding: 0;
  border-radius: 0;
  overflow: visible;
}

.floating
.envelope {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.hackclub-logo {
  height: 5rem;
  width: 10rem;
}

.string {
  user-select: none;
}

.label {
  min-width: 30px;
  min-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #333;

  min-height: 28px;
  border-radius: 5px;
  padding: 0 4px;
  font-size: 14px;

  transition: 0.2s;
}

.text:disabled {
  border: none;
  opacity: 1;
}
.cb-button,
.button {
  min-width: 30px;
  min-height: 30px;


  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}
.button{
  padding: 0 8px;
  margin: 10px;
  background: white;
}
.cb-button{
  padding: 8px;
  margin-right: 4px;
  background: rgba(0, 0, 0, 0);
}

.cb-button:hover,
.button:hover {
  background: #222;
  color: #fff;
}
.cb-button *,
.button * {
  user-select: none;
  pointer-events: none;
}

#math-editor-container {
  display: grid;
  justify-items: center;
}

*[hide='true'] {
  display: none;
}

.menu {
  display: none;

  position: absolute;

  top: 0;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu[hide='true'] {
  top: -60px;
}

.victory {
  position: absolute;
  display: flex;

  background: transparent;
  bottom: 70px;

  transition: 0.5s;
  pointer-events: none;
  z-index: 2;
}

.victory .envelope {
  flex-basis: 400px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background: #eee;
  padding: 5px;
  pointer-events: all;
}

.victory[hide='true'] {
  bottom: -80px;
}

.message[hide='true'] {
  display: none;
}

.navigator {
  position: absolute;

  bottom: 60px;
}

.navigator[hide='true'] {
  bottom: -60px;
  display: none;
}

input {
  font-family: 'Roboto Mono';
}

input:placeholder-shown {
  font-style: italic;
}

input[valid='false'] {
  border: 1px solid red;
}

#controls-bar {
  transition: none;
  transition-delay: 0s;

  position: absolute;
  align-self: center;

  align-items: flex-end;
  justify-content: flex-start;

  bottom: 0px;
  left: 0px;
  height: 50px;
  border-radius: 0px 5px 0px 0px;
}
#controls-bar-gfx{
  display: flex;
  position: relative;
  background: rgb(255 255 255);
  height: 100%;
  border-radius: 0px 5px 0px 0px;
}
/* time slider */
#time-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  flex-grow: 1;
  position: relative;
  left: 80px;
  bottom: 30px;
}

#time-slider-ticks {
  display: flex;
  justify-content: space-between;
  width: 110%;
  margin-bottom: 20px;
}

.slider-tick {
  height: 10px;
  width: 2px;
  left: 6px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: relative;
}

.slider-tick-label {
  position: absolute;
  top: 15px;
  transform: translateX(-50%);
  font-size: 1.1rem;
  text-shadow: -1px 1px 0 #ffffff,
				  1px 1px 0 #ffffff,
				 1px -1px 0 #ffffff,
				-1px -1px 0 #ffffff;

  color: black;
  font-family: "Roboto Mono";
}

#time-slider {
  transition: left 100ms;
  width: 110%;
  -webkit-appearance: none;
  background-color: rgb(255, 255, 255);
  height: 3px;
  position: relative;
  bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

#time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: rgb(150, 0, 0);
  background-color: red;
  border-width: 2px;
  border-style: solid;
}


#controls-bar[hide='true'] {
  bottom: -50vh;
}

#expression-text {
  display: none;
  flex-grow: 1;
}

#math-field,
#math-field-static {
  border: none;
  flex-grow: 0;
  padding: 4px 2px 2px 2px;
  /*margin: 4px 4px 4px 0px;*/
  border-radius: 0 5px 5px 0;
  margin: 0;
  background: #fff;
}
#math-field{
  border-radius: 80px;
}

#math-field[valid='false'] {
  border: 1px solid red;
}

#variable-label{
  bottom: 50%;
}
#expression-envelope {
  width: fit-content;
  transition: transform 1s, opacity 0.2s;
}
#junction{
  --bgcolor: white;
  transition: none;
  transition-delay: 0s;
  position: absolute;
  bottom: 50px;
  background-image: radial-gradient(circle at 45px 0px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40px, var(--bgcolor) 40px);
  z-index: 1;
}
#expression-envelope {
  --font-size: 1.5rem;
  transition: transform 1s, opacity 0.2s;
  font-size: var(--font-size);
  max-width: min-content;
  height: min-content;
  border-radius: 0px 10px 0px 0px;
  padding: 14px 10px 13px 10px;
  z-index: 1;
  margin: 0;
}


#expression-envelope[disabled='true'] > #math-field {
  display: none;
}

#expression-envelope[disabled='false'] > #math-field-static {
  display: none;
}

#flag {
  left: 1rem;
  position: absolute;
  top: 0;
}

#math-field-static {
  background: #ddd;
}

#expression-envelope[disabled='true'] {
  background: #ddd;
  opacity: 0.4;
}

#expression-envelope[disabled='false'] {
  background: #fff;
}

#expression-envelope[hide='true'] {
  transform: translate(0, 200%);
  opacity: 0;
}
#stop-button,
#try-again-button,
#run-button {
--stopbuttonbg: #f46;

  transition: left 250ms;
  width: min-content;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  border-radius: 5px;
  min-width: 55px;
}

#try-again-button{
  left: calc(100% - 150px);
  animation: pulse 0.5s infinite;
  width: 100px;
  bottom: 60px;
}

#reset-confirmation-dialog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#reset-confirmation-dialog > div {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#reset-confirmation-yes:not(:hover) {
  background: #f46;
  color: white;
}

#reset-confirmation-no {
  border-width: 2px;
  border-style: solid;
  border-color: #000;
}

#run-button {
  position: relative;
}

#run-button:not(:hover) {
  background: #4f6;
}


.reset-button:not(:hover) {
  
  background: var(--stopbuttonbg);
}

#next-button:not(:hover) {
  background: #4f6;
}
#next-button{
  border-radius: 5px;
}

#victory-stop-button:not(:hover) {
  background: #f46;
}
/*
#reset-button:not(:hover) {
  background: #68f;
}
*/
#sound-button{
  width: min-content;
  font-size: 24px;
}

#navigator-button {
  width: min-content;
  font-size: 24px;
}

#reset-button {
  margin-left: 30px;
}

#reset-button > .string {
  font-size: 24px;
  line-height: 14px;
  padding-bottom: 4px;
}

#level-text {
  text-align: center;
}

#level-button {
  flex-grow: 1;
}

#victory-label {
  flex-grow: 1;
  font-size: 14px;
}

#victory-text {
  margin: 0;
  text-align: center;
  font-size: 21px;
}

#hovertext {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  font-size: 13px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;
  z-index: 1;

  position: absolute;
  bottom: 100%;
  left: -150%;
}

#hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

#variables-bar {
  position: absolute;

  top: 20px;
  left: auto;
  right: 20px;

  font-size: 24px;

  justify-content: flex-end;

  transition: 0.5s;
}

#variables-bar[hide='true'] {
  top: -80px;
}

#time-string {
  color: #c44;
}

#top-bar {
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: space-between;
}

#fixed-goal-selector,
#dynamic-goal-selector {
  height: 70px;
  width: 70px;
  background: white;
  transition: 0.05s;
}

.volume-container {
  /* Set position explicitly on this so that child elements (the slider) with absolute position
   * use this as a reference point. We don't have to set left/right/bottom/top because we actually
   * want this positioned wherever flexbox puts it */
  position: relative;
}

#volume-slider {
  position: absolute;
  transition-duration: 1s;
  bottom: 45px;
  left: -45px;
  transition-duration: 1s;
  writing-mode: lr-tb; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  opacity: 0;
}


#top-bar[hide='true'] {
  top: -80px;
}


#navigator-floating-bar {
  bottom: 0;
}

#show-all-button {
  border-radius: 10px 10px 0 0;
}

#loading-remarks {
  max-width: 80vmin;
}

#loading-remarks > h3 {
  text-align: center;
}

#loading-string {
  text-decoration: underline;
  cursor: pointer;
}

.background {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: inherit;
  z-index: -1;
}

.bubblets {
  display: none;
}

.veil {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
  transition: 1s;

  background: white;
  pointer-events: all;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flash-shadow {
  animation-duration: 1s;
  animation-name: flash-shadow;
  animation-iteration-count: infinite;
}

@keyframes flash-shadow {
  from {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  }

  25% {
    box-shadow: 0px 2px 4px 3px rgba(0, 192, 255, 0.6);
  }

  to {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  }
}

.veil[hide='true'] {
  opacity: 0;
  pointer-events: none;
}

.loading {
  transition: 3s;
}

.envelope {
  position: relative;
}
.envelope:focus-within {
  -webkit-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  -moz-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  box-shadow: #8bd 0 0 1px 2px, inset #ffffff 0 0 2px 0;
  border-color: #ffffff;
}

.helper-bubble {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  font-size: small;
  position: absolute;
  background-color: white;
  padding: 5px;
  color: black !important;
  animation-name: wiggle;
  animation-duration: 4500ms;
  animation-iteration-count: infinite;
}
.coordinate {
  width: 125px;
  text-align: center;
  border: 2px solid black;
  font-size: small;
  position: absolute;
  background-color: white;
  padding: 5px;
  color: black !important;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(20deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* TODO: Make decent looking */
#t-variable-container {
  display: flex;
}

#t-variable-container[hide='true'] {
  display: none;
}

#t-variable-label {
  box-sizing: border-box;
  padding-bottom: 3.5px;
}

.top-left {
  bottom: calc(80% + 20px);
  right: 90%;
}
.top-right {
  bottom: calc(80% + 20px);
  left: 90%;
}
.bottom-left {
  right: 23% !important;
  top: 103% !important;
}
.bottom-right {
  top: calc(80% + 20px);
  left: 90%;
}

.helper-bubble:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
}
.helper-bubble.top-left:before {
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  right: -2px;
  bottom: -20px;
}
.helper-bubble.top-right:before {
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  left: -2px;
  bottom: -20px;
}
.helper-bubble.bottom-left:before {
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid black;
  right: -2px;
  top: -20px;
}
.helper-bubble.bottom-right:before {
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid black;
  left: -2px;
  top: -20px;
}

#dotted-math-container {
  position: absolute;  
  left: 0px;
  /* display: flex;  */
  display: none; /* Disabled by default */
  border-width: 3px;
  width: calc(100% - 100px);
  height: 25px;
  border-radius: 0px 0px 0px 5px;
  bottom: 100px;
}

#dotted-math-field-static {
  background: #5f5f5f;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 40%);
  font-family: monospace;
  color: rgb(0,255,0);
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  display: none;
  position: absolute;
  font-size: 1.5rem;
  padding: 5px;
  height: min-content;
  font-weight: bold;
}

#dotted-math-button {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 40%);
  position: absolute;
  margin-left: 10px;
  background-color: rgb(0 255 0);
  border-radius: 5px;
  transition: bottom 0ms;
}

#dotted-slider {
  writing-mode: lr-tb; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  height: 75vh;
  bottom: 0px;
  left: 100%;
  line-height: 100vh;
  accent-color: rgb(0, 255, 0);
  position:absolute;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

#expression-envelope-container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  /*#time-slider-container{
    width: calc(700 px - 100%);
  }*/
  #expression-envelope-container {
    position: fixed;
    top: 20px;
  }

  #expression-envelope-container[hide='true'] {
    top: -50vh;
  }

  #volume-slider-box {
    display: none;
  }

  #navigator-floating-bar {
    top: 0;
    bottom: auto;
  }

  #show-all-button {
    border-radius: 0 0 10px 10px;
  }

  #expression-envelope {
    font-size: 0.9rem;
    border-radius: 0px 10px 0px 0px;
  }
}
.tooltip-e,
.tooltip{
  position: relative;
  /* z-index: -10; */
}
.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --reset-tooltip-color: rgb(23, 22, 22);
  --volume-tooltip-color: rgb(34, 136, 238);

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale)) !important;
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;

  background: var(--reset-tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--reset-tooltip-color);
}

.tooltip-e::before {
  top: 90%;
  left: calc(100% + 50px);
  background: var(--volume-tooltip-color);
}

.tooltip-e::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  border-left-width: 0;
  border-top-color: transparent !important;
  border-right-color: var(--volume-tooltip-color);
}

#editor-inspector,
#editor-spawner {
  background: '#000';
  display: flex;
  align-items: center;
  height: 2.5em;
  column-gap: 10px;
  padding: 3px 10px;
  margin: auto;
}

#editor-order-input {
  width: 4em;
  text-align: center;
}

#editor-x-input,
#editor-y-input {
  width: 5em;
}

#editor-timer-input {
  width: 6em;
}

#editor-position {
  display: inherit;
}

#editor-inspector-delete {
  background: #f46;
}

.editor-bar {
  transition: 0.5s;
}

.editor-bar[hide='true'] {
  display: none !important;
  transform: translateY(calc(-100% - 73px / 2));
}

.editor-bar[hide='false'] {
  display: inherit;
  animation: show-editor-bar 0.5s;
}

@keyframes show-editor-bar {
  from {
    transform: translateY(calc(-100% - 73px / 2));
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

#try-again {
  display: none;
}

@keyframes pulse {
  0% {
    background-color: #f46;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #f46;
  }
}

#lvl-debug-info {
  position: absolute;
  left: 25px;
  top: 10px;
  font-size: 10px;
  width: 350px;
  height: 25px;
  user-select: all;
}

#button-hide-level-info {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 50px;
  min-width: 25px;
  min-height: 25px;
  display: none;
}

.debugtitle {
  font-weight: bold;
  text-align: right;
  width: 150px;
  user-select: all;
  display: none;
}

.debuginfo {
  width: 150px;
  text-align: left;
  user-select: all;
}

.grid {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 12px;
  padding: 0px;
}
#loading-veil{
  z-index: 5;
}
.modal {
  position: fixed;
}
