* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  font-family: 'Roboto Mono';

  color: #333;
  background: #fff;

  font-size: 18px;

  overflow: hidden;
  user-select: none;
}

html {
  overflow: hidden;
}

canvas {
  user-select: none;
}

.bar {
  margin: 0;
  padding: 4px;

  background: #eee;

  border-radius: 5px;

  overflow: hidden;

  display: flex;
  align-items: stretch;
  justify-content: center;

  transition: 0.2s;
}

body > .bar {
  position: absolute;

  left: 20px;
  right: 20px;
}

.bar > * {
  margin: 0 4px 0 0;
}

.bar > *:last-child {
  margin: 0;
}

.bar .envelope {
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.floating {
  background: transparent;
  padding: 0;
  border-radius: 0;
  overflow: visible;
}

.floating .button,
.envelope {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.string {
  user-select: none;
}

.label {
  min-width: 30px;
  min-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #333;

  min-height: 28px;
  border-radius: 5px;
  padding: 0 4px;
  font-size: 14px;

  transition: 0.2s;
}

.text:disabled {
  border: none;
  opacity: 1;
}

.button {
  min-width: 30px;
  min-height: 30px;

  padding: 0 8px;

  background: #fff;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background: #222;
  color: #fff;
}

.button * {
  user-select: none;
  pointer-events: none;
}

*[hide='true'] {
  display: none;
}

.menu {
  display: none;

  position: absolute;

  top: 0;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu[hide='true'] {
  top: -60px;
}

.victory {
  position: absolute;
  display: flex;

  background: transparent;
  bottom: 20px;
}

.victory .envelope {
  flex-basis: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background: #eee;
  padding: 5px;
}

.victory[hide='true'] {
  bottom: -80px;
}

.message[hide='true'] {
  display: none;
}

.navigator {
  position: absolute;

  bottom: 60px;
}

.navigator[hide='true'] {
  bottom: -60px;
  display: none;
}

input {
  font-family: 'Roboto Mono';
}

input:placeholder-shown {
  font-style: italic;
}

input[valid='false'] {
  border: 1px solid red;
}

#controls-bar {
  position: absolute;

  left: 20px;
  bottom: 20px;
  right: 20px;
  align-self: center;

  align-items: flex-end;
  justify-content: center;

  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);*/
}

#controls-bar[hide='true'] {
  bottom: -50vh;
}

#expression-text {
  display: none;
  flex-grow: 1;
}

#math-field,
#math-field-static {
  border: none;
  flex-grow: 0;
  padding: 4px 2px 2px 2px;
  /*margin: 4px 4px 4px 0px;*/
  border-radius: 0 5px 5px 0;
  margin: 0;
  background: #fff;
}

#math-field[valid='false'] {
  border: 1px solid red;
}

#expression-envelope[disabled='true'] > #math-field {
  display: none;
}

#expression-envelope[disabled='false'] > #math-field-static {
  display: none;
}

#math-field-static {
  background: #ddd;
}

#expression-envelope[disabled='true'] {
  background: #ddd;
}

#expression-envelope[disabled='false'] {
  background: #fff;
}

#run-button {
  position: absolute;

  right: 0;
  bottom: 0;
}

#try-again-button {
  animation: pulse 0.5s infinite;
}

.reset-button {
  position: absolute;

  right: 0;
  bottom: 0;
}

#run-button:not(:hover) {
  background: #4f6;
}

.reset-button:not(:hover) {
  background: #f46;
}

#next-button:not(:hover) {
  background: #4f6;
}

#victory-stop-button:not(:hover) {
  background: #f46;
}

#reset-button:not(:hover) {
  background: #68f;
}

#reset-button {
  position: absolute;

  left: 0;
  bottom: 0;

  padding: 0;
}

#reset-button > .string {
  font-size: 24px;
  line-height: 14px;
  padding-bottom: 4px;
}

#level-text {
  text-align: center;
}

#level-button {
  flex-grow: 1;
}

#victory-label {
  flex-grow: 1;
}

#variables-bar {
  position: absolute;

  top: 20px;
  left: auto;
  right: 20px;

  font-size: 24px;

  justify-content: flex-end;

  transition: 0.5s;
}

#variables-bar[hide='true'] {
  top: -80px;
}

#time-string {
  color: #c44;
}

#top-bar {
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: space-between;
}

#fixed-goal-selector,
#dynamic-goal-selector {
  height: 70px;
  width: 70px;
  background: white;
  transition: 0.05s;
}

#volume-slider-box {
  transition-duration: 1s;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 0 0 10px 0;
}
#volume-slider-box:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(9px);
}

#volume-slider {
  opacity: 0.1;
  transition-duration: 1s;
}
#volume-slider-box:hover > #volume-slider {
  opacity: 1;
}

#top-bar[hide='true'] {
  top: -80px;
}

#navigator-button {
  margin-right: 20px;
  border-radius: 0 0 10px 10px;
  font-size: 2.4rem;
}

#navigator-button > .string {
  padding-bottom: 5px;
}

#navigator-floating-bar {
  bottom: 0;
}

#show-all-button {
  border-radius: 10px 10px 0 0;
}

#loading-remarks {
  max-width: 80vmin;
}

#loading-remarks > h3 {
  text-align: center;
}

#loading-string {
  text-decoration: underline;
  cursor: pointer;
}

.background {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: inherit;
  z-index: -1;
}

.bubblets {
  display: none;
}

.veil {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 1;
  transition: 1s;

  background: white;
  pointer-events: all;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flash-shadow {
  animation-duration: 1s;
  animation-name: flash-shadow;
  animation-iteration-count: infinite;
}

@keyframes flash-shadow {
  from {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  }

  25% {
    box-shadow: 0px 2px 4px 3px rgba(0, 192, 255, 0.6);
  }

  to {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  }
}

.veil[hide='true'] {
  opacity: 0;
  pointer-events: none;
}

.loading {
  transition: 3s;
}

.envelope {
  position: relative;
}

.helper-bubble {
  position: absolute;
  width: 150px;
  text-align: center;
  border: 2px solid black;
  font-size: small;
  background-color: white;
  padding: 5px;
  color: black !important;
}

.top-left {
  bottom: calc(80% + 20px);
  right: 90%;
}
.top-right {
  bottom: calc(80% + 20px);
  left: 90%;
}
.bottom-left {
  right: 23% !important;
  top: 103% !important;
}
.bottom-right {
  top: calc(80% + 20px);
  left: 90%;
}

.helper-bubble:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
}
.helper-bubble.top-left:before {
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  right: -2px;
  bottom: -20px;
}
.helper-bubble.top-right:before {
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  left: -2px;
  bottom: -20px;
}
.helper-bubble.bottom-left:before {
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid black;
  right: -2px;
  top: -20px;
}
.helper-bubble.bottom-right:before {
  border-left: 10px solid black;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid black;
  left: -2px;
  top: -20px;
}

#dotted-math-container {
  position: fixed;
  right: 15px;
  top: 25%;
  /* display: flex;  */
  display: none; /* Disabled by default */
  border-width: 3px;
}

#dotted-math-field-static {
  border: 2px solid rgba(110, 70, 70, 0.2);
  backdrop-filter: blur(9px);
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-family: monospace;
  color: rgb(0, 255, 0);
  display:none;
}

#dotted-math-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left:auto;
  background-color: rgb(255, 174, 0);
}

#dotted-slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 8px;
  height: 175px;
  padding: 0 5px;
  accent-color: rgb(0, 255, 0);
}

.vstack {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

#expression-envelope-container {
  display: flex;
}

@media only screen and (max-width: 600px) {
  #expression-envelope-container {
    position: fixed;
    top: 20px;
  }

  #expression-envelope-container[hide='true'] {
    top: -50vh;
  }

  #navigator-button {
    position: fixed;
    bottom: 20px;
    font-size: 1.5rem;
    height: 30px;
    width: 40px;
    left: calc(50% - (30px / 2));
    padding: 0px;
    border-radius: 5px;
    margin: 0;
  }

  #volume-slider-box {
    display: none;
  }

  #navigator-floating-bar {
    top: 0;
    bottom: auto;
  }

  #show-all-button {
    border-radius: 0 0 10px 10px;
  }

  #expression-envelope {
    font-size: 0.9rem;
  }
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: #68f;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale)) !important;
  transition: 150ms transform;
  transform-origin: bottom center;
}

.tooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;

  background: var(--tooltip-color);
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.tooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
}

.tooltip-e::before {
  top: 90%;
  left: calc(100% + 50px);
}

.tooltip-e::after {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  border-left-width: 0;
  border-top-color: transparent !important;
  border-right-color: var(--tooltip-color);
}

#editor-inspector,
#editor-spawner {
  background: '#000';
  display: flex;
  align-items: center;
  height: 2.5em;
  column-gap: 10px;
  padding: 3px 10px;
  margin: auto;
}

#editor-order-input {
  width: 4em;
  text-align: center;
}

#editor-x-input,
#editor-y-input {
  width: 5em;
}

#editor-timer-input {
  width: 6em;
}

#editor-position {
  display: inherit;
}

#editor-inspector-delete {
  background: #f46;
}

.editor-bar {
  transition: 0.5s;
}

.editor-bar[hide='true'] {
  display: none !important;
  transform: translateY(calc(-100% - 73px / 2));
}

.editor-bar[hide='false'] {
  display: inherit;
  animation: show-editor-bar 0.5s;
}

@keyframes show-editor-bar {
  from {
    transform: translateY(calc(-100% - 73px / 2));
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

#try-again {
  display: none;
 
}


@keyframes pulse {
  0% {
    background-color: #f46;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #f46;
  }
}

#lvl-debug-info {
  position: absolute;
  left: 25px;
  top: 10px;
  font-size: 10px;
  width: 350px;
  height: 25px;
}

#button-hide-level-info {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 50px;
  min-width: 25px;
  min-height: 25px;
}

.debugtitle {
  font-weight: bold;
  text-align: right;
  width: 150px;
}

.debuginfo {
  width: 150px;
  text-align: left;
}

.grid {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 12px;
  padding: 0px;
}
